html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

header {
    background-color: rgb(6, 36, 82);
    width: 100%;
}

ul li{
    text-align: justify;
}


header>div.navbar-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}


header>div.navbar-container>.info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
}

.foto-perfil {
    display: flex;
    width: 280px;
}

.h3 {
    flex-direction: column;
}


.logo {
    width: 50px;
    margin-top: 15px;
}

.esquerda{
    width: 300px;
    background-color: rgba(155, 196, 180, 0.548);
    padding: 10px;
    margin-right: 10px;
    margin-top: 0;
}

section.bloco-body{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: white;
}